{% extends "layout.html" %}
{% block body %}
  <div class="container">
    <div class="col-md-3">
      <form method="post">
        {% if error %}
          <p class=error><strong>Error:</strong> {{ error }}
        {% endif %}
          <div class="form-group">
            <label for="username">Author</label>
            <input type="text" class="form-control" id ="username" name="username" value="{{ username }}">
          </div>
          <div class="form-group">
            <label for="comment_text">Write your comment here</label>
            <textarea class="form-control" id="comment_text" name="comment_text" rows="5" value="{{ comment_text }}"></textarea>
          </div>
          <button type="submit" class="btn btn-outline-primary btn-lg">Add comment</button>
      </form>
    </div>
  </div>
{% endblock %}