{% extends "layout.html" %}
{% block body %}
	<div class="container">
		<div class="card ">
		  <h5 class="card-header">
		    Author: {{ creator }}
		  </h5>
		  <div class="card-body">
		    <blockquote class="blockquote mb-0">
		      <p>{{ board_name }}</p>
		    </blockquote>
		    <footer><small class="text-muted">{{ creation_date }}</small></footer>
		  </div>
		</div>
		<br>
		<h5>Comments</h5>
			{% for comment in comments %}
		    <div class="comment">
		        <strong>{{ comment[0] }}</strong>
		        <p>{{ comment[1] }}</p>
		    </div>
		{% else%}
		    <p>No comments here yet</p>
		{% endfor %}
	<a class="btn btn-outline-primary btn-lg" href="{{ board_id }}/add_comment">Add comment</a>
	</div>
{% endblock %}