{% extends "layout.html" %}
{% block body %}
	<div class="container">
		<div class="mb-4">
    		<a href="/new" class="btn btn-outline-primary btn-lg">New Board</a>
  		</div>
		<ul class="list-group">
		{% for key, board in boards.items() %}
			<a class="list-group-item  list-group-item-action" href="/{{ key }}">{{ board }}</a>
		{% endfor %}
		</ul>
	</div>
{% endblock %}