<!doctype html>
<title>{% block title %}{% endblock %}Boards</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
      integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
      crossorigin="anonymous">
<link rel=stylesheet href=/static/style.css type=text/css>
     <a class="navbar-brand navbar " href="/">
        <div class="container">
        All Boards
        </div>
     </a>
{% block body %}{% endblock %}